@(metas: List[models.Meta],  meta: Form[models.Meta])


@main("Gerenciador de Metas"){
<div class="container-fluid">
	<div class="container">
		<!--  Barra Lateral -->

		<div class="col-md-2" style="margin-top: 60px; margin-left: 5px;">
			<ul class="nav nav-pills nav-stacked" style="background-color: #eee">
				<li class="active"><h2>@metas.size() Meta(s)</h2></li>
				
			</ul>
		</div>

		<!--  Conteudo Central -->
		<div class="col-md-10">
		<div class="content">
		<div class="col-sm-5">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Titulo</th>
							<th>Data limite</th>
							<th>feita</th>
							

						</tr>
					</thead>
					<tbody>
						@for(meta <- metas) {
						<tr>
							<td>@meta.getDescricao()</td>
							<td>@meta.getDataFinal()</td>
							<td>@meta.getStatus()</td>
							<td>
								<form action="@routes.Application.deletaMeta(meta.getId())"method="post">
									<input type="submit" class="btn btn-danger" value="Delete">
								</form>
							</td>
							<td>
								<form action="@routes.Application.setStatusMeta(meta.getId())"method="post">
									<input type="checkbox" value="">
								</form>
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
			
		
		</div>
	</div>
}
