@(semanas: List[Integer], metas: List[models.Meta],  meta: Form[models.Meta], concluidas: Integer, pendentes: Integer)


@main("Gerenciador de Metas"){
<div class="container-fluid">
	<div class="container">
		<!--  Barra Lateral -->
		<br><br>
		<div class="col-md-6" style="margin-top: 60px; margin-left: 5px; float: left; ">
			<ul class="nav nav-pills nav-stacked" >
				<br>
				<li class="active" style="margin-top: 30px; margin-left: -25px; color: #535353;" ><h3>Total: @metas.size()</h3></li>
				<li class="active" style="margin-top: 30px;  margin-left: -25px; color: #535353;"  ><h3>Concluídas: @concluidas</h3></li>
				<li class="active" style="margin-top: 30px;  margin-left: -25px; color: #535353;"  ><h3>Pendentes: @pendentes</h3></li>
			</ul>
		</div>
		@if(!metas.isEmpty){
		

		<!--  Conteudo Central -->
		<div class="col-md-10" style=" width: 1000px; float: right; margin-top: -140px; margin-left: 300px">
		<div class="content">
		<div class="col-md-6" style=" width: 1000px; height: 80px;" >
			
			
			<div class="table-responsive">
				<table class="table table-hover" >
					<thead style="background-color: #4c4c4c;">
						<tr>
							<th style="width: 500px">Descrição</th>
							<th>Data limite</th>
							<th>Status</th>
							

						</tr>
					</thead>
					<tbody>
					
					@for(meta <- metas) {
						@if(meta.getStatus() == true){
							<tr style="background-color: #87c87d; margin-top: 5px;" >
						
						}else{
						
						
							@if(meta.getPrioridade() == 1){
								<tr style="background-color: #f56868; margin-top: 5px;" >
							}@if(meta.getPrioridade() == 2){
								<tr style="background-color: #e8e16d; margin-top: 5px;" >
							}@if(meta.getPrioridade() == 3){
								<tr style="background-color: #8eccde; margin-top: 5px;" >
							}
						}		
							<td style="margin-left: 10px"><img src=@routes.Assets.at("images/pin_icon.png") alt="" style="margin-left: -15px; margin-top: -8px;"></img>@meta.getDescricao()</td>
							<td>@meta.getDataFinal()</td>
							<td>@meta.getStringStatus()</td>
							<td>
								<form action="@routes.Application.deletaMeta(meta.getId())"method="post">
									<input type="image" src="@routes.Assets.at("images/delete_icon.png")" alt="Submit"> 
								</form>	
									
								<form action="/editar" method="post">
									<a href="/editar">
									<input type="image" src="@routes.Assets.at("images/edit_icon.png")" alt="Submit" id="@meta.getId()" name="ID" value="@meta.getId()" > 
									</a>
								</form>	
								
							</td>
								
							@if(meta.getStatus() == true){
								
								<td>
								<form action="@routes.Application.setStatusMeta(meta.getId())"method="post">
									<input type="image" src="@routes.Assets.at("images/check.png")" alt="Submit"> 
								</form>
								</td>
							
							}else{	
								<td>
								<form action="@routes.Application.setStatusMeta(meta.getId())"method="post">
									<input type="image" src="@routes.Assets.at("images/uncheck.png")" alt="Submit"> 
								</form>
								</td>
							</tr>
							
							}
							
						}
					</tbody>
				</table>
			</div>
		</div>
			
		
		</div>
	</div>
	
	
	}else{
				<div class = "col-md-6" style="margin-top: 80px; margin-left: -20%;">
					<h2  style="color: #999999; size: 14px;">Você não possui metas cadastradas!</h2>
				</div>
					
				}
}
